CONFIG_FILE=config/config.yml
APP_NAME=go-kafka
APP_ENV=localhost
APP_VERSION=0.1.0
HTTP_PORT=8000
HTTP_CORS=true
LOG_LEVEL=debug
MYSQL_URL=mysql:password@tcp(localhost:3306)/go_kafka?parseTime=true
MIGRATIONS_PATH=migrations
BROKERS=localhost:9092
GROUP_ID=go-kafka-task-projector
INIT_TOPICS=true
TOPIC_PREFIX=eventStore
PARTITIONS=3
REPLICATION_FACTOR=1
DISABLE_SWAGGER_HTTP_HANDLER=false
GIN_MODE=debug
